.quote-wrapper {
    height: 100px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.quote {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.sub-title {
    font-weight: lighter;
    text-align: right;
}
