@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {   
  margin: 0;   
  padding: 0;   
  box-sizing: border-box; 
}  

body {     
  font-family: 'Source Sans Pro', sans-serif;   
  color: #222222;   
  background-color: #eeeeee;   
  font-size: 15px;   
  margin: 0;   
  height: 100%; } 
  
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {   
    letter-spacing: 1px; 
  }